.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.header__top {
  padding: 0.5rem 0;
}

.header__logo img {
  height: 200px;
}

.header__bottom {
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 6rem;
}

.nav__link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav__link:hover,
.nav__link:focus {
  border-bottom: 2px solid #000;
  background-color: lightgoldenrodyellow;
  border-radius: 4px;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__icons button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  gap: 200px;
}

.header__icons button:hover,
.header__icons button:focus {
  border-bottom: 2px solid #000;
  background-color: lightgoldenrodyellow;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: auto;
  gap: 5px;
}

.search-container input {
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 25px;
  font-size: 14px;
  flex: 1;
  min-width: 150px;
}

.search-container .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s ease;
}

.search-container .search-btn:hover {
  color: #ff6600;
}

.usuario-dropdown {
  position: relative;
  display: inline-block;
}

.icono-usuario {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Justo debajo del botón */
  left: 75%; /* Alineado a la izquierda del botón */
  margin-top: 10px; /* Pequeño espacio debajo */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 180px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.usuario-dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #f4f4f4;
}
