.product-section {
  text-align: center;
  padding: 0 20px;
  background-color: #f9f9f9;
  margin-top: 280px;
  padding-bottom: 100px;
}

.product-section h2 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 270px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
  justify-items: start;
  padding: 20px;
}

.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  height: 100%;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  margin-bottom: 1rem;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-name {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 auto 0.5rem auto;
  color: #222;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.view-all-btn {
  margin-top: 3rem;
  background-color: #ffe86b;
  color: black;
  font-weight: bold;
  padding: 0.9rem 2.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.view-all-btn:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}

.resultados-busqueda {
  margin-top: 40px; /* menos espacio arriba para subir el bloque */
  padding: 0 20px;
  padding-top: 150px;
}

.resultados-busqueda h2 {
  margin-top: 0; /* ajustar título */
  margin-bottom: 20px;
  text-align: center;
}

.resultados-busqueda .product-grid {
  margin-top: 10px; /* subir las tarjetas */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .product-section {
    margin-top: 100px; /* menos margen superior en móvil */
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-section h2 {
    font-size: 2rem;
    margin-top: 80px; /* ajustar margen superior para móvil */
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center; /* centra las tarjetas */
    padding: 10px;
  }

  .product-card {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }

  .view-all-btn {
    width: 90%;
    max-width: 300px;
    padding: 1rem 0;
    font-size: 1.1rem;
  }
}
